<div class="row justify-content-center align-items-center">

    <div class="col-12 col-md-8 col-lg-5">

        <div class="card shadow-lg p-4 mt-5">

            <div class="text-center mb-4">

                <img
                src="/images/clogo.png"
                width="90"
                height="90"
                class="mb-3">

                <h1 class="fw-bold">
                    CampusConnect
                </h1>

                <p class="text-muted">
                    Connect • Collaborate • Grow
                </p>

                <div class="badge bg-success px-3 py-2">
                    Join India's Student Network
                </div>

            </div>

            <form action="/register" method="POST">

                <div class="mb-3">

                    <label class="form-label">
                        Username
                    </label>

                    <input
                    type="text"
                    name="username"
                    class="form-control form-control-lg"
                    placeholder="Enter username"
                    required>

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Email
                    </label>

                    <input
                    type="email"
                    name="email"
                    class="form-control form-control-lg"
                    placeholder="Enter email"
                    required>

                </div>

                <div class="mb-4">

                    <label class="form-label">
                        Password
                    </label>

                    <input
                    type="password"
                    name="password"
                    class="form-control form-control-lg"
                    placeholder="Create password"
                    required>

                </div>

                <div class="d-grid">

                    <button
                    class="btn btn-success btn-lg">

                    Create Account 🚀

                    </button>

                </div>

            </form>

            <hr>

            <div class="text-center">

                Already have an account?

                <a
                href="/login"
                class="fw-bold text-decoration-none">

                Login Here

                </a>

            </div>

        </div>

    </div>

</div>